<footer id="site-footer" class="footer">
  <div class="site__container">
    <div class="footer__left">
      <p>{{ .Site.Copyright }}</p>
      {{- with .Site.Menus.footer }}
      <nav class="footer__nav" aria-label="Footer navigation">
        <ul>
          {{- range . }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{- end }}
        </ul>
      </nav>
      {{- end }}
    </div>
    <div class="footer__right">
      <button id="dark-mode-button" class="footer__button">
        Dark Mode: <span id="dark-mode-button-value">Off</span>
      </button>
      <button id="animations-button" class="footer__button">
        Animations: <span id="animations-button-value">Off</span>
      </button>
      <button id="to-top-button" class="footer__button">
        Top of Page
      </button>
    </div>
  </div>
</footer>

{{- $main := resources.Match "js/*.js" | resources.Concat "js/main.js" }}
{{- if .Site.Params.cdn }}
{{- range .Site.Params.library }}
{{- if and (eq .type "script") .global }}
<script type="text/javascript" src="{{ .path }}"></script>
{{- end }}
{{- end }}
{{- else }}
{{ $libraries := slice }}
{{- range .Site.Params.library }}
{{- if and (eq .type "script") .global }}
{{ $libraries = $libraries | append (resources.Get (print "js/" .name ".js")) }}
{{- end }}
{{- end }}
{{- $main = $libraries | append $main | resources.Concat "js/bundle.js" }}
{{- end }}
{{- $scripts := $main | minify | fingerprint -}}
<script type="text/javascript" src="{{ $scripts.RelPermalink }}" crossorigin="anonymous" integrity="{{ $scripts.Data.Integrity }}"></script>
