@use "../abstract" as *;

.card {
    $block: &;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    
    @include break(54rem) {
        grid-column: span 6;
        
        &--banner {
            grid-column: span 12;

            #{$block}__content {
                margin-top: 0;
            }
        }

        &--featured {
            display: flex;
            flex-direction: row;
            grid-column: span 12;

            #{$block}__cover {
                flex: 3 1 0;

                img {
                    height: 100%;
                    max-height: 500px;
                }
                
                + #{$block}__content {
                    margin: 0;
                }
            }

            #{$block}__content {
                display: flex;
                flex: 2 1 0;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    @include break(72rem) {

        &--additional {
            grid-column: span 4;
            font-size: typeScale(1, down);

            #{$block}__cover {
                img {
                    height: 125px;
                }
            }

            #{$block}__title {
                font-size: typeScale(1);
                letter-spacing: 1.5px;
            }

            #{$block}__authors {
                
                &::after {
                    content: '·';
                    margin: 0 0.5ch;
                }
            }

            #{$block}__description {
                display: none;
            }
        }
    }

    &:not(#{$block}--page) {
        #{$block}__content {
            justify-self: center;
        }
        &:hover {
            #{$block}__cover {
                img {
                    transform: scale(1.01);
                }
            }
        }
    }

    &__cover {
        overflow: hidden;

        img {
            width: 100%;
            height: 250px;
            max-height: 50vh;
            transition: transform 1s;
            object-fit: cover;
            background-size: cover;
            background-position: center;
            vertical-align: bottom;
        }

        &--headshot {
            z-index: 1;

            img {
                width: 200px;
                height: 100px;
                max-height: none;
                border: 5px solid var(--color-canvas);
                border-radius: 100%;
            }
        }
    }

    &__content {
        position: relative;
        flex-grow: 1;
        margin: typeScale(-6, up, em) 0 0;
        padding: typeScale(2, up, em) typeScale(1, up, em);
        background-color: var(--color-canvas-tint);

        @media screen and (min-width: 54rem) {
            margin: typeScale(-6, up, em) typeScale(1, up, em) 0;
            padding: typeScale(2, up, em) clamp(#{typeScale(1, up, em)}, 5vw, #{typeScale(4, up, em)});
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__series {
        position: relative;
        z-index: 2;
        font-weight: bold;
        color: var(--color-primary);
        margin-bottom: typeScale(2, down);
        width: fit-content;
        align-self: center;
    }

    &__title {
        margin: 0;
        line-height: 1;
        word-break: break-word;

        a {
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 1;
            }
        }
    }

    &__subtitle {
        line-height: 1;
        margin-top: typeScale(2, down);
        color: var(--color-text-muted);
    }

    &__meta {
        margin-top: typeScale(1, down);
        font-size: typeScale(1, down);
        color: var(--color-text-muted);
    }

    &__authors {
        &::after {
            content: '·';
            margin: 0 1ch;
        }
    }

    &__description {
        p {
            margin-bottom: 0;
        }
    }

    &--page {
        height: fit-content;
        grid-column: span 12;

        #{$block}__cover {
            img {
                height: auto;
                max-height: 60vh;
            }
        }

        #{$block}__header {
            align-items: center;
        }
        
        #{$block}__subtitle {
            margin-top: typeScale(1);
        }

        #{$block}__content {
            box-sizing: border-box;
            max-width: 50rem;
            margin-top: typeScale(-8, up, em);
       
            &--under {
                padding-top: typeScale(7);
                margin-top: typeScale(-6);
            }

            @include break(62rem) {
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }

            > h2,
            > h3,
            > h4,
            > h5,
            > p,
            > ul,
            > ol,
            > dl,
            > pre,
            > code,
            > hr,
            > dl,
            > details,
            > audio,
            > label,
            > input,
            > select,
            > textarea {
                max-width: 35rem;
                margin-right: auto;
                margin-left: auto;
            }
            
        }
    }

    &--coverless {
        #{$block}__content {
            margin-top: 0;
        }
    }

    &--hero {
        grid-column: span 12;

        #{$block}__content--hero {
            margin-top: 0;
            text-align: center;

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    &--static {
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }

        #{$block}__content--static {
            margin: 0;
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: column;
        }

        #{$block}__icon {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        #{$block}__title {
            margin-top: 0;
            text-align: center;
        }

        #{$block}__description {
            flex-grow: 1;

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        #{$block}__link {
            display: block;
            margin-top: 1rem;
            text-align: center;
            font-weight: bold;
            color: var(--color-primary);
        }
    }

    &--person {
        #{$block}__content {
            margin-top: 0;
        }

        #{$block}__cover {
            img {
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                aspect-ratio: 1;
                width: auto;
                margin: 0 auto;
                display: block;
            }
        }

        #{$block}__title {
            margin-top: 1rem;
        }
    }
}
