@use "../abstract" as *;

figure {
    margin: 0;
    text-align: center;

    > a,
    a:hover {
        background: none;
    }
}

figcaption {
    max-width: 60ch;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: typeScale(1, down);
    text-align: center;
    opacity: 0.75;
}

img {
    height: auto;
    max-width: 100%;

    &:not([src*=".svg"]) {
        filter: var(--image-filter);
    }
}

.card__content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 100%;
}

audio {
    margin: 0 auto;
}
